#navbar{
                
                background-color: palevioletred;
                width: 100%;
                height: auto;
    position: fixed;
}
.myname{
                color: black;
                margin: 10px;
                font-family:inherit;
                font-size: 30px;
}

.DivWrap1{
     border: 6px solid;
    border-color: black;
    text-align: center;
    margin-top: 10px;
    margin: auto; 
    box-shadow: 10px 10px 8px #888888;
    font-family: inherit;
    width: 90%;
    position: relative; 
    display: flex; 
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-color: oldlace;
    
}

.Card1{
    border-width: 4px;
    border-style: ridge;
    border-color: palevioletred;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    background-color: lightpink;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 10px 10px 8px #888888;
}

.Title{
    width: 60%;
    right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: inherit; 
}

.Descript{
    width: 60%;
    right: auto;
    font-size: 18px;
    text-align: center; 
    padding: 6px;
    font-family: inherit;
    margin-left: auto;
}

.Link{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.Image{
    width: 40%;
    height: 100%;
    border-right: 10px double black;
    float: left;
    
}
.group:after {
              content: "";
              display: inline-block;
              clear: both;
            }
